on:
  pull_request:
    branches:
      - master
  push:

jobs:
  code_quality:
    name: ${{ matrix.name }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - id: ruff
            name: Check code with ruff format
          - id: isort
            name: Check code with isort
          # Temporarily disabled pylint check due to refactoring
          # - id: pylint
          #   name: Check code with pylint
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v6

      - name: Set up Python 3
        uses: actions/setup-python@v6
        id: python
        with:
          python-version: "3.13"

      - name: Install Poetry
        run: pip install poetry

      - name: Configure Poetry virtualenv in project
        run: poetry config virtualenvs.create true

      - name: Install Python dependencies
        run: poetry install --no-interaction --with dev

      - name: Run ${{ matrix.id }} checks
        run: |
          if [ "${{ matrix.id }}" == "ruff" ]; then
            poetry run ruff format SCR
          else
            poetry run ${{ matrix.id }} SCR
          fi

      - name: Clear Poetry Cache
        run: poetry cache clear --all pypi

